{% extends 'heartbeat/base.html' %}

{% block content %}
  {% for key, value in result.items %}
  <hr>
  <div class='two-col'>
    <div>
      <div>{{ key|capfirst }}</div>
      {% if value.checks %}
        <ul>
        {% for check in value.checks %}
          <li>
            <strong>{{ check.label }}</strong> | {{ check.pass }}
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <pre><code class='json_obj'>{{ value.data }}</code></pre>
      {% endif %}
    </div>
    <div>
      {% if value.pass %}
        <span class='pass'>Pass</span>
      {% else %}
        <span class='fail'>Fail</span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
