{% extends 'dashboard.html' %}

{% block frame %}
  <h1>LCMS Status</h1>

  <div class='row bottom-md'>
    <div class='col-md-4'>
      <div>{{ status.label }}</div>
    </div>
    <div class='col-md-8'>
      {% if status.pass %}
        <span class='pass-check'>Pass</span>
      {% else %}
        <span class='fail-check'>Fail</span>
      {% endif %}
    </div>
  </div>

  {% for key, value in result.items %}
  <div class='row bottom-md'>
    <div class='col-md-4'>
      <div>{{ key|capfirst }}</div>
    </div>

    <div class='col-md-8'>
      {% if value.pass %}
        <span class='pass-check'>Pass</span>
      {% else %}
        <span class='fail-check'>Fail</span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
